@model Vehicles03.API.Data.Entities.DocumentType

<div class="form-group">
    <label asp-for="Desription" class="control-label"></label>
    <input asp-for="Desription" class="form-control" />
    <span asp-validation-for="Desription" class="text-danger"></span>
</div>